
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
/* Top part start */

.top-container{
    display: grid;
    justify-content: center;
    margin-top: 50px;

}
.container {
    display:flex;
    border: 2px solid black;
    width: 1321px;
    height: 646px;
    background:black;
    border-radius: 30px;
    color: white;
}
.title-text {
    width: 531px;
    height: 424px;
    margin-left: 105px;
}
.title-text h1 {
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    margin-bottom: -10px;
   
}
.title-text button {
    margin-top: 30px;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    font-family: 'HelveticaNeue';
    font-weight: 400;
    font-size: 20px;
}
.top-banner img {
    width: 571px;
    height: 603px;
    border-radius: 25px;
}
  /* top header part end   */
  /* start middle part left */
  .upcomming-match {
    margin-top: 10px;
    display: grid;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    
  }
  .upcomming {
    width: 252px;
    height: 64px;
    background: #DD0000;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
  }
  .goals {
    width: 252px;
    height: 64px;
    background:white;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  .blogs {
    width: 252px;
    height: 64px;
    background: white;
    border-radius: 10px;
    color:black; 
    font-weight: 600;
    font-size: 20px;
  }

  /* middle part laft end */
  /* start match part */
  .middle-container{
    display: flex;
    margin-left: 150px;
    margin-top: 130px;
  
  }
  .matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;    
  }
  .match-fixtures{
    margin-left: 70px;
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 15px;
    
  }
  .match-info {
    display: flex;
    column-gap: 0px;
    padding: 10px;
    
  
  }
  .button-transfer {
    border: 1px solid lightslategray;
    border-radius: 7px;
    padding: 5px;
    margin-bottom:-20px;
  }
  h4 {
    margin-bottom: -20px;
  }

  .match-info img{
    width: 93px;
    height: 56px;
  }
  .match-info p {
    font-weight: 700;
    font-size: 16px;
  }
  .match-time{
    margin-top: 15px;
    display: grid;

  }
  .match-time h2 {
    font-weight: 600;
    font-size: 20px;
  }
  .match-time p {
    margin-top: -10px;
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
  }
  .time-comment samp{
        margin: 15px;
        margin-right: 20px;
  }
  /* matches part end */
  /* start footer */
  .footer-container {
    background-color: black;
    color: white;
    width: 1600px;
    height: 444px;
    margin-top: 130px;
  }

  .footer-container h2 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
   padding-top: 120px;
    
  }
  .footer-manu {
    text-align: center;
    margin-top: 70px;
    
  }
  .footer-manu a {
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    margin-right: 30px;
    
  }
  .Social-site {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;

  }
  .Social-site a {
    text-align: center;
    margin-right: 30px;
    color: white;
  }
  /* end footer */
  /* media  Quaries */
  /* tablet devise */

  @media  (min-width: 768px) and (max-width:1023px) {
  
    .top-container{
      display: grid;
      justify-content: center;
      margin-top:25px;
  }
  .container {
      display:flex;
      width: 734px;
      height: 398px;
      margin:0 50px;
  }
  .title-text {
      margin-top:-28px ;
      margin-left: 76px;
  }
  .title-text h1 {
      font-weight: 700;
      font-size: 40px;
      color: #FFFFFF;
      margin-bottom: -15px;
     
  }
  .title-text p{
      font-size: 13px;
      text-align: justify;

  }
  .title-text button {
      margin-top: -10px;
      width: 161px;
      height: 48px;
          
  }
  .top-banner img {
      width: 323px;
      height: 340px;
      margin-top: px;
  }

  /* second part */

  .middle-container{
    display: flex;
    flex-direction: column;
  }
  .upcomming-match {
    margin-top: -100px;
    margin-left: -130px;
    display: flex;
    flex-direction: row;
    row-gap: 25px;
    border: 2px solid white;
    background-color: #FFFFFF;
    width: 700px;
    height: 100px;
    
  }
  .upcomming .goals .blogs {
    font-size: 20px;
    width: 230px;
    height: 64px;
    align-items: center;
    
  }
    /* third part */

    .matches {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-left: -130px;
      
    }
    .match-fixtures{
      margin-left: 25px;
      width: 270px;
      height: 315px;
      padding: 9px;
  
    }
    .match-info {
      display: flex;
      column-gap: 15px;
      
    }
    .match-info img{
      width: 100px;
      height: 68px;
    }
    .match-info p {
      font-weight: 700;
      font-size: 16px;
    }
    .match-time{
      margin-top: 15px;
      display: grid;
  
    }
    .match-time h2 {
      font-weight: 600;
      font-size: 20px;
    }
    .match-time p {
      margin-top: -10px;
      font-weight: 400;
      font-size: 16px;
      color: #4D4D4D;
    }
  
  /* middle part laft end */

  /* footer part */
  .footer-container {
    background-color: black;
    color: white;
    width: 834px;
    height: 400px;
    margin-top: 66px;
  }

  .footer-container h2 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-top: 52px;
    
  }
  .footer-manu {
    text-align: center;
    margin-top: 70px;
    margin-left: -60px;
    
  }
  .footer-manu a {
    text-decoration: none;
  
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    margin-right: 20px;
    
  }
  .Social-site {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;

  }
  .Social-site a {
    text-align: center;
    margin-right: 30px;
    color: white;
  }
  }

   /* ------------Mobile devise ------------------------
   =====================================================*/
   @media  (max-width: 767px) {
       
    .top-container{
      display: grid;
      flex-direction: column;
      margin-top:15px;
      margin-left: -60px;
  }
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 335px;
      height: 500px;
    
  }
  .title-text {
      display: flex;
      flex-direction: column;
      margin-top:-50px ;
      margin-left:10 px;
      width: 320px;
      height: 225px;
      
  }
  .title-text h1 {
      font-weight: 700;
      font-size: 22px;
      color: #FFFFFF;
      margin-bottom: 10px;
      padding-right: 65px;
      margin-top: 25px;
      margin-left: -32px;     
  }
  .title-text p{
      font-size: 10px;
      text-align: justify;
      margin-top: 0px;
      padding-right: 82px;
      margin-left: -24px;
  }
  .title-text button {
      margin-top: -5px;
      width: 161px;
      height: 48px;
     
  }
  .top-banner img {
      width: 213px;
      height: 225px;
      margin-bottom: -64px;
  }

  /* second part */
  .upcomming-match {
    margin-left: -120px;
    margin-top: -100px;
    
  }

    /* third part */

    .matches {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin-left: -375px;
      margin-top: 235px;
      padding-right: 60px;

    }
    
  
  /* middle part laft end */

  /* footer part */
  .footer-container {
    background-color: black;
    color: white;
    width: 450px;
    height: 600px;
    margin-top: 45px;
  }

  .footer-container h2 {
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-top: 18px;
    
  }
  .footer-manu {
    display: flex;
    flex-direction:column;
    row-gap: 25px;
    text-align: center;
    margin-top: 70px;
    
  }
  hr{
    color:lightgray
  }
  .footer-manu a {
    text-decoration: none;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
    margin-right: 30px;
    
  }
  .Social-site {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;

  }
  .Social-site a {
    text-align: center;
    margin-right: 20px;
    color: white;
  }
      
}
  